/* #right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 50%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 70%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
} */
/* .panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
} */

html,
body,
.main,
.container {
  height: 75%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#map {
  height: 100%;
  width: 70%;
  border-radius: 20px;
  float: left;
}

p {
  text-align: center;
}

.places .campground {
  background-color: teal;
  border-radius: 15px;
  width: 70%;
}

.panel {
  margin: 0px 20px 0px 20px;
  border-width: 0.1px;
  border-style: solid;
  border-radius: 20px;
  width: 20%;
  height: 95%;
  float: left;
  text-align: left;
  padding: 15px;
}
