/* #right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 50%;
}

#right-panel i {
  font-size: 12px;
}

html,
body {
  height: 70%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  float: left;
  width: 70%;
  height: 100%;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: scroll;
  height: 174px;
} */
/* .panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  height: 400px;
  float: left;
  text-align: left;
  padding-top: 0;
} */

* {
  font-family: "Roboto", "sans-serif";
}
html,
body,
.main,
.container {
  height: 75%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
input {
  margin: 5px;
}

#searchBtn {
  margin-top: 10px;
}
#map {
  height: 100%;
  width: 70%;
  border-radius: 20px;
  float: left;
}

.places .campground {
  width: 70%;
  margin: 50px;
}

.stopCard {
  /* border-radius: 40px;
  border-style: dotted;
  border-width: 1px; */
  width: 800px;
  padding: 9px 20px 9px 20px;
  margin-bottom: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  box-sizing: border-box;
  height: 200px !important;
  overflow: hidden;
}

.stopInfo {
  border-radius: 10px;
  float: left;
  /* margin-right: 10px; */
  width: 350px;
  padding: 10px 1px 10px 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: left;
  border-radius: 5px;
}

.panel {
  margin: 0px 20px 0px 20px;
  border-width: 0.1px;
  border-style: solid;
  border-radius: 20px;
  width: 20%;
  height: auto;
  float: left;
  text-align: left;
  padding: 15px;
}
