#map {
  height: 400px;
  width: 100%;
  margin: 10px;
}

h1 {
  text-align: center;
}
input {
  margin: 5px;
}

#searchBtn {
  margin-top: 10px;
}

.places .campground {
  width: 70%;
  margin: 50px;
}

.stopCard {
  width: 800px;
  padding: 9px 20px 9px 20px;
  margin-bottom: 0px;
  background: #ffffff;
  box-shadow: 2px 2px 2px 2px #dfdfdf;
  box-sizing: border-box;
  height: 200px !important;
  overflow: hidden;
}

.stopInfo {
  border-radius: 10px;
  float: left;
  width: 350px;
  padding: 10px 1px 10px 1px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: left;
  border-radius: 5px;
}

/* .panel {
  margin: 0px 20px 0px 20px;
  border-width: 0.1px;
  border-style: solid;
  border-radius: 20px;
  width: 20%;
  height: auto;
  float: left;
  text-align: left;
  padding: 15px;
} */
